body{
    display:grid;
    place-items: center;
}
.contain{
    text-align: center;
    background: rgb(4, 4, 28);
    height:520px;
    width:500px;
    border-radius: 5px;
}
h1{
    color: yellowgreen;
    font-family: "Press start 2P";
    font-size: 23px;;
}
h2{
    color: yellowgreen;
    font-family: "Press start 2P";
    font-size: 15px;

}
input{
    text-align: center;
    font-family: "Press start 2P";
    font-size: 30px;
    height: 50px;
    width: 80px;

}
button{
    letter-spacing: 2px;
    font-family: "Press Start 2P";
    font-size: 20px;
    height: 30px;
    width: 200px;
    border-radius: 10px;

}
button:hover{
    background-color: green;
    color: white;
    box-shadow: 0 0 10px rgb(23, 175, 0), 0 0 40px rgb(23, 175, 0),0 0 70px rgb(23, 175, 0);;
}

label{
    color: yellowgreen;
    font-family: "Press start 2P";
    font-size: 15px;
}
#lives{
    font-size: 20px;
    color:red;
}
#number{
    font-size: 80px;
    font-family: "Press start 2P";
}

img{
    height:200px;
    width:120px;
}
.out{
    display:flex;
    position:relative;
    left:22%;
}
#cat1,#cat2{
    position:relative;
    top:-60px;
}
#cat1{
    
    left:-20%;
    
}
#cat2{
   
    left:12%;
    
}



